.modal{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 300px;
    border-radius: 10%;
    min-height: 300px;
    background-color: rgba(0,0,0,.75);
    display: none;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal.container {
    position: relative;
    min-height: 20px;
    max-height: 50px;
    overflow-y: auto;
    background-color: white;  
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

